body {
  background-color: black;
  color: white;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight:200;
  position:relative;
}
h1 {
  font-family: 'Noto Serif', serif;
  font-weight:200;
}
img {
  width: 200px;
  height: 200px;
}
a {
  color: cyan;
  text-decoration: none;
}
a:hover{
  color: grey;
}
.intro {
  width: 33%;
  line-height: 1.75em;
  margn-top: 10px;
}
.background {
  fill: none;
  pointer-events: all;
}
.geometry {
  pointer-events: none;
}
.dots {
  pointer-events: all;
  cursor: crosshair;
}
#map-holder {
  width: 100vw;
  height: 100vh;
}
#sketch {
  width: 100vw;
  height: 100vh;
  position: absolute;
  opacity: 0.5;
  z-index: -1;
}
#header {
  margin: 40px 100px;
  position: absolute;
}
#footer {
  position: fixed;
  bottom: 0px;
}
