body {
  overflow: hidden;
  background-color: black;
  color: white;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight:200;
  position:relative;
}
h1 {
  font-family: 'Noto Serif', serif;
  font-weight:200;
}
img {
  width: 200px;
  height: 200px;
}
a {
  color: cyan;
  text-decoration: none;
}
a:hover{
  color: grey;
}
.container {
  line-height: 1.75em;
  margin: 40px 100px;
	position: absolute;
  z-index: 10;
  pointer-events: none;
}
.background {
  fill: none;
  pointer-events: all;
}
.geometry {
  pointer-events: none;
}
.dots {
  pointer-events: all;
  cursor: crosshair;
}
.nodes {
  pointer-events: all;
  cursor: crosshair;
}
.landmarks {
  pointer-events: all;
  cursor: crosshair;
}
#map-holder {
  width: 100vw;
  height: 100vh;
	position: absolute;
}
#sketch {
  width: 100vw;
  height: 100vh;
  position: absolute;
  opacity: 0.5;
  z-index: -1;
}
#intro {
  width:25%;
}
#ui {
  width:25%;
}
#footer {
  width: inherit;
  position: fixed;
  bottom: 10px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  opacity: .4;
  -webkit-transition: .4s;
  transition: .4s;
  pointer-events: all;
}

.switch:hover{
  opacity: 1;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}
