#instructions {
  position: absolute;
  text-align: center;
  top: 45%;
  width: 100%;
  z-index: 1000;
  background-color: "red";
  background: "red";
}

#recall {
  visibility: hidden;
}

#grid {
  height: 70vh;
}

.form-group {
  z-index:1;
}

.thumb {
  opacity: 0.2;
  filter: blur(10px);
  -webkit-filter: blur(10px);
}

.img-fluid.thumb:checked {
  opacity:0.5;
}
