#instructions1 {
  position: absolute;
  text-align: center;
  top: 45%;
  width: 100%;
  z-index: 1000;
}

#instructions2 {
  position: absolute;
  text-align: center;
  top: 45%;
  width: 100%;
  visibility: hidden;
}
/*
#recall {
  position: absolute;
  visibility: hidden;
  text-align: center;
  top: 45%;
  width: 100%;
  z-index: 1000;
} */

#grid {
}

.form-group {
  z-index:1;
}

.img-fluid.thumb {
  pointer-events: none;
  opacity: 0.2;
  filter: blur(10px);
  -webkit-filter: blur(10px);
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label {
  pointer-events: none;
}

input[type=checkbox]:checked + label {
  outline-style: solid;
  outline-color: #0069D9;
  outline-width: 3px;
}
