<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>New City Image: Consent</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <span class="navbar-brand">Making a New City Image</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Consent<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Guess</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Score</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Label</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#">Recall</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Share</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Thanks!</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="jumbotron">
    <h1 class="display-4">Hi! Thanks in advance for your participation.</b></h1>
    <br>
    <p class="lead">I'm researching the machine-mediated perception of urban form. To that end, I'm interested in crowdsourcing human reactions and categorizations of street-level images of cities. If you complete this survey, you will have the chance to enter a raffle and win a $20 Amazon gift certicate, as well as a copy of Kevin Lynch's <i>Image of the City</i>, which has inspired much of this work.</p>
    <hr class="my-4">
    <p>Below is a consent form. Please read to the bottom and click "OK" to advance.</p>
  </div>
  <div class="container mt-5">
      <div class="row">
          <div class="col-md-9">
        <h4><p>Study Title: Making a New City Image, or an Eye for AI</p></h4>
        <p>Researcher: Brian Ho</p>
        <p>Faculty Advisor: Krzysztof Gajos</p>
        <p>Version Date: 2018/04/20</p><br>
        <h5><u><span >Key Information </span></u></h5>

        <p><span style=' font-family: sans-serif;font-weight:normal;font-style:normal'>The following is a short summary of this study to help you decide whether or not to be a part of this study. More detailed information is listed later on in this form.</span></p>

        <h5><span>Why am I being invited to take part in a research study?</span></h5>

        <p><span>We invite you to take part in a research study because of your familiarity with the city of Boston and urban built environments, and the potential interest on your part in learning more about these topics.</span></p>

        <h5><span>What should I know about a research study?</span></h5>

        <li>Someone will explain this research study to you.</span></li>

        <li>Whether or not you take part is up to you.</span></li>

        <li>Your participation is completely voluntary.</span></li>

        <li>You can choosenot to take part.</span></li>

        <li>You can agree to take part and later change your mind.</span></li>

        <li>Your decision will not be held against you.</span></li>

        <li>You can ask all the questions you want before you decide.</span></li><br>

        <h5><span>Why is this research being done?</span></h5>

        <p><span class=Instructions><span style='  font-family: sans-serif;color:black;font-weight:normal;font-style: normal'>The purpose of this research is to understand how people perceive the physical form of the built environment and cities.</span></span></p>

        <h5><span>How long will the research last and what will I need to do?</span></h5>

        <p><span class=Instructions><span>This online survey should take about 10 minutes to complete. </span></span><span style='  font-family: sans-serif'>You will be asked to label sets of street-level images of urban environments from downtown Boston; after completing this section you will then be shown a sequence of individual images — some of which have been seen previously in the first section — and indicate whether they recall having seen the image beforehand. Finally, you will have a choice to share some of you own memories of the city of Boston.</span></p>

        <h5><span>Is there any way being in this study could be bad for me?</span></h5>

        <p style='margin-bottom:0in;margin-bottom:.0001pt'><span>We don’t believe there are any risks from participating in this research.</span></p><br>

        <h5><span>Will being in this study help me in any way?</span></h5>

        <p><span>We cannot promise any benefits to you or others from your taking part in this research. However, possible benefits include learning about and seeing a bit more of the city of Boston.</span></p>

        <p><span>&nbsp;</span></p>

        <h5 style='margin:0in;margin-bottom:.0001pt'><u><span>Detailed Information </span></u><span > </span></h5>

        <p>The following is more detailed information about this study in addition to the information listed above.</p>

        <h5><span>What is the purpose of this research?</span></h5>

        <p><span class=Instructions><span style='  font-family: sans-serif;color:black;font-weight:normal;font-style: normal'>The purpose of this research is to understand how people perceive the physical form of the built environment and cities. We are interested to see if certain kinds of city form change people’s perceptions and experience — i.e. if a part of the city makes you want to walk further, or if it feel like an enclosed neighborhood. We are also interested to see what kinds of city form are more memorable, and get a sense for what characteristics of a city’s visual image are important to human perception.</span></span></p>

        <h5>How long will I take part in this research?</h5>

        <p><span class=Instructions><span>Each trial will take about 10 minutes, and you may repeat the survey if you like..</span></span></p>

        <h5><span class=Instructions><span>What can I expect if I take part in this research?</span></span></h5>

        <p><span>You will be asked to label sets of street-level images of urban environments; after completing this section you will then be shown a sequence of individual images — some of which have been seen previously in the first section — and indicate whether they recall having seen the image beforehand. Finally, you will have a choice to share some of you own memories of the  city of Boston.</span></p>

        <h5><span>What happens if I say yes, but I change my mind later?</span></h5>

        <p><span>You can leave the research at any time it will not be held against you. Data collected up to the point of withdrawal will be used for analysis, but if you specific otherwise this data can be removed.</span></p>

        <h5>If I take part in this research, how will my privacy be protected?  What happens to the information you collect?</h5>

        <p><span>Efforts will be made to limit the use and disclosure of your personal information, including research study, to people who have a need to review this information. We cannot promise complete secrecy. Organizations that may inspect and copy your information include the IRB and other representatives of this organization. </span></p>

        <p><span class=Instructions><span>If identifiers are removed from your identifiable private information or identifiable samples that are collected during
        this research, that information or those samples could be used for future research studies or distributed to another investigator for future research studies without your additional informed consent. </span></span></p>

        <h5><span>What do I need to know about compensation?</span></h5>

        <p><span>If you agree to take part in this research study, you may voluntarily enter into a raffle<span class=Instructions><span style='font-family: sans-serif; font-style:normal'>
        </span></span>to win a copy of Kevin Lynch’s <i>Image of the City</i> and a $20 Amazon gift certificate. You will be asked after survey completion to submit an email, which will be used to select and notify one raffle winner.</span></p>

        <h5>Can I be removed from the research without my OK?</h5>

        <p><span>The person in charge of the research study or the sponsor can remove you from the research study without your approval. Possible reasons for removal include abuse of the survey or an answer pattern that suggests an incomplete or inaccurate test.</span></p>

        <h5><span>Who can I talk to?</span></h5>

        <p><span>If you have questions, concerns, or complaints, or think the research has hurt you, talk to the research team at </span><a href="mailto:bho@mde.harvard.edu">bho@mde.harvard.edu</a><span>.</span></p>

        <p><span>This research has been reviewed and approved by the Harvard University Area Institutional Review Board (“IRB”). You may talk to them at (617) </span><span style=' font-family: sans-serif;color:#1E1E1E; background:white'>496-2847</span><span style=' font-family:  sans-serif'> or </span><a href="mailto:cuhs@harvard.edu"><span>cuhs@harvard.edu</span></a><span> if:</span></p>

        <li>Your questions, concerns, or complaints are not being answered by the research team.</li>

        <li>You cannot reach the research team.</li>

        <li>You want to talk to someone besides the research team.</li>

        <li>You have questions about your rights as a research subject.</li>

        <li>You want to get information or provide input about this research.</li><br>

        <p><span style=' font-family: sans-serif; color:black'>By clicking OK, you are agreeing to be in the study. Be sure that questions you have about the study have been answered and that you understand what you are being asked to do. You may contact the researcher if you think of a question later. You are free to leave the experiment at any time,  and refusing to be in the experiment or stopping participation will involve no penalty or loss of benefits to which you are otherwise entitled.</span></p>
        </div>
      </div>
      <div class="row">
          <div class="form-group col-md">
            <a class="btn btn-primary" href="/guess" role="button">OK</a></button>
          </div>
      </div>
    </div>
  </div>
</div>
</body>
