<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>MAKING A NEW IMAGE OF THE CITY</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <span class="navbar-brand">Making a New City Image</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Consent</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Guess <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Label</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link disabled" href="#">Recall</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Share</a>
      </li>
    </ul>
  </div>
</nav>


  <div class="container">
    <div class="row" style="margin-top: 40px">
      <div class="col-md">
        <h1>Consent Form</h1>
        <p>Brian Ho - Harvard GSD MDE 2018</p>
      </div>
    </div>
  </div>
</body>
