<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta data="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
  integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
  crossorigin=""></script>
  <link rel="stylesheet" href="../css/photo-sphere-viewer.min.css">
  <script src="../js/lib/three.min.js"></script>
  <script src="../js/lib/D.min.js"></script>
  <script src="../js/lib/uevent.min.js"></script>
  <script src="../js/lib/doT.min.js"></script>
  <script src="../js/lib/photo-sphere-viewer.min.js"></script>
  <link rel="stylesheet" href="../css/guess.css">
  <title>New City Image: Guess Task</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <span class="navbar-brand">Making a New City Image</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Consent</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Guess<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Score</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Label</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link disabled" href="#">Recall</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Share</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Thanks!</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container mt-3">
  <div class="row">
    <div class="col-md">
        <p>Page <span id="counter">1</span> of 5 — Please locate this image within the city of Boston by <b>clicking on the map below</b>. You can use your mouse to move around the image and map.</p>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md">
      <div id="pano-wrapper">
        <div id="pano"></div>
        <!-- <img class="img" id="pano" src="{{ data.img_urls[0] }}"> -->
      <div id="instructions">
            <h5>Please look at this image of Boston and try to guess where it is by clicking on the map below.</h5>
            <input type="button" id="completReadBtn" class="btn btn-outline-primary btn-lg mt-3" value="I'm ready!" onclick="completeRead()"/>
      </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md mt-3" id="map-wrapper"><p id="score"></p><div class="img" id="map"></div></div>
  </div>
      <form id = "HIT" class="row mt-3" method="POST">
        <div class="col-md-2">
        </div>
        <div class="form-group col-md-8 text-center">
        <button type="button" class="btn btn-primary mr-2" id="guess" onclick="makeGuess()" disabled>Guess</button>
        <button type="button" class="btn btn-secondary" id="advance" onclick="advanceForm()" disabled>Next</button>
        </div>
        <div class="form-group col-md-2 text-right">
        <!-- <button type="button" class="btn btn-outline-danger" id="lost" onclick="skip()" disabled>I don't know</button> -->
        </div>
        <input type="hidden" id="task"name="task" value="guess" />
        <input type="hidden" id="image" name="image" value="{{ data.images[0] }}" />
        <input type="hidden" id="guessX" name="guessX"/>
        <input type="hidden" id="guessY" name="guessY"/>
        <input type="hidden" id="findTime" name="findTime"/>
        <input type="hidden" id="dev" name="dev" value="{{ data.dev }}"/>
        <input type="hidden" id="aws_mt" name="aws_mt" value="{{ data.aws_MT }}"/>
        <input type="hidden" id="amazon_host" name="amazon_host" value="{{ data.amazon_host }}"/>
        <input type="hidden" id="hitId" name="hitId" value="{{ data.hitId }}"/>
        <input type="hidden" id="assignmentId" name="assignmentId" value="{{ data.assignmentId }}"/>
        <input type="hidden" id="workerId" name="workerId" value="{{ data.workerId }}"/>
        <input type="hidden" id="avg_dist" name="avg_dist"/>
        <input type="hidden" id="total_time" name="total_time"/>
        </form>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

<script type="text/javascript">
var data = {{ data|tojson|safe }};
var trial = 1;
var line;
var startTime;
var map = L.map('map').setView([42.36, -71.06], 13);
var marker1;
var marker2;
var distances = [];
var times = [];

var viewer = PhotoSphereViewer({
  container: 'pano',
  panorama: data.img_urls[0],
  navbar: ['autorotate', 'zoom']
});
viewer.stopAutorotate();

// viewer.on('position-updated', positionChanged());
// function positionChanged() {
//   console.log('MOVE');
// }

function completeRead() {
  startTime = Date.now();
  document.getElementById("pano").style.filter = blur(0);
  document.getElementById("pano").setAttribute("style","-webkit-filter:blur(" + 0 + "px)")
  document.getElementById("pano").style.opacity = 1;
  document.getElementById("instructions").style.visibility = "hidden";
  map.on('click', clickMap);
}

function clickMap(e) {
    if ( marker1 ) { map.removeLayer(marker1) };
    marker1 = L.circleMarker([e.latlng.lat, e.latlng.lng]);
    marker1.addTo(map)
        .bindPopup('Your guess.')
        .openPopup();
    document.getElementById("guessX").value = e.latlng.lng;
    document.getElementById("guessY").value = e.latlng.lat;
    document.getElementById("guess").disabled = false;
}

function makeGuess() {
    var guess = L.latLng(document.getElementById("guessY").value, document.getElementById("guessX").value);
    var image_loc = L.latLng(data.lats[trial-1], data.lngs[trial-1]);

  	var findTime = (Date.now() - startTime)/1000.0;
  	document.getElementById("findTime").value = findTime;
    document.getElementById("guess").disabled = true;
    document.getElementById("advance").disabled = false;

    marker2 = L.circleMarker(image_loc);
    marker2.addTo(map);
    line = L.polyline([guess,image_loc])
    line.addTo(map);
    map.options.zoomSnap = 0.1;
    map.fitBounds(line.getBounds(), {padding:[50,50]});
    map.off('click', clickMap);
    map.options.zoomSnap = 1;

    var distance = image_loc.distanceTo(guess);
    distances.push(distance);
    times.push(findTime);
    document.getElementById("score").innerText = distance.toFixed(2)+" meters";
}

function advanceForm() {
    var total_dist = 0;
    var avg_dist = 0;
    for (var i = 0; i < distances.length; i++) { total_dist += distances[i]; }
    var avg_dist = total_dist / distances.length;

    var total_time = 0;
    var avg_time = 0;
    for (var i = 0; i < times.length; i++) { total_time += times[i]; }
    var avg_time = total_time / times.length;

    document.getElementById("avg_dist").value = avg_dist;
    document.getElementById("total_time").value = total_time;

    var form = document.querySelector("#HIT");
    // Submit back to AWS
    var d = new FormData(form);
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.open("POST", "/submit");
    xmlhttp.send(d);
    // console.log(trial > 4);
    if (trial <= 4) { nextTrial(); }
    else {
      if ( data.aws_MT ){
        form.action = data.amazon_host;
        form.submit();
      }
      else {
        form.action = "/score";
        form.submit();
      }
    }
}

function nextTrial() {
  trial++;
  document.getElementById("counter").textContent = trial;
  // console.log(trial-1);
  // document.getElementById("pano").src = data.img_urls[trial-1];
  viewer.setPanorama(data.img_urls[trial-1]);
  viewer.stopAutorotate();

  document.getElementById("image").value = data.images[trial-1];
  document.getElementById("guess").disabled = false;
  document.getElementById("advance").disabled = true;
  document.getElementById("guess").disabled = true;
  document.getElementById("score").innerText = "";
  document.getElementById("pano").style.filter = blur(10);
  document.getElementById("pano").setAttribute("style","-webkit-filter:blur(" + 10 + "px)")
  document.getElementById("pano").style.opacity = 0.2;
  document.getElementById("instructions").style.visibility = "visible";
  map.removeLayer(line);
  map.removeLayer(marker1);
  map.removeLayer(marker2);
  map.setView([42.36, -71.06], 13);
}
L.tileLayer('https://api.mapbox.com/styles/v1/brianho/cjgs28sqk00112rlb2j6wmpz9/tiles/256/{z}/{x}/{y}?access_token={accessToken}', {id:'dark-v9',accessToken:data.mapbox_key}).addTo(map);

</script>
</html>
