<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta data="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
  integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
  crossorigin=""></script>
  <link rel="stylesheet" href="../css/label.css">
  <title>New City Image: Label Task</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <span class="navbar-brand">Making a New City Image</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Consent</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Guess</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Score</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Label<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Share</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Thanks!</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container mt-3">
  <div class="row">
    <div class="col-md-11">
      <p>Page <span id="counter">1</span> of 6 — Please select all that match the given description:
      <b><span id="description">a neighborhood or district</span></b>.</p>
    </div>
    <div class="col-md-1">
        <button type="button float-right" class="btn btn-primary mr-2" id="guess" onclick="submitForm()" disabled>Next</button>
        <!-- <button type="button" class="btn btn-secondary" id="submitBtn" onclick="submitForm()">Submit</button> -->
    </div>
  </div>
</div>

<div class="descriptions" id="instructions1">
      <img src="../district.jpg" style="outline-color:white;outline-width:4px;outline-style:solid;"></img>
      <h5 class="mt-3">Please look at these images of Boston and select all that seem like a <b>neighborhood or district</b>.</h5>
      <div class="container"><i>The medium-to-large sections of the city, conceived of as having two-dimensional extent, which the observer mentally enters “inside of,” and which are recognizable as having some common, identifying character.</i></div>
      <input type="button" id="completReadBtn" class="btn btn-outline-primary btn-lg mt-5" value="I'm ready!" onclick="completeRead()"/>
</div>

<div class="descriptions"  id="instructions2">
  <img src="../path.jpg" style="outline-color:white;outline-width:4px;outline-style:solid;"></img>
      <h5 class="mt-3">Please look at these images of Boston and select all that seem like a <b>path or passage</b>.</h5>
      <div class="container"><i>Channels along which the observer customarily, occasionally or potentially moves. They may be streets, walkways, transit lines, canals, railroads. For many people, these are the predominant elements in their image.</i></div>
      <input type="button" id="completReadBtn" class="btn btn-outline-primary btn-lg mt-5" value="I'm ready!" onclick="completeRead()"/>
</div>

<div class="descriptions"  id="instructions3">
  <img src="../edge.jpg" style="outline-color:white;outline-width:4px;outline-style:solid;"></img>
  <h5 class="mt-3">Please look at these images of Boston and select all that seem like a <b>edge or border</b>.</h5>
  <div class="container"><i>The linear elements not used or considered as paths by the observer. They are the boundaries between two phases, linear breaks in continuity ... may be seams, lines along which two regions are related and joined together.</i></div>
  <input type="button" id="completReadBtn" class="btn btn-outline-primary btn-lg mt-5" value="I'm ready!" onclick="completeRead()"/>
</div>
<!-- <div id="recall">
  <div class="container mt-3">
    <div class="row">
      <div class="col-md"><img id="recall_img" src=" {{ data.urls_recall }}"></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
        <div class="col-md-8">
          <p>Please look at these images of Boston and select all that match the category of neighborhood.</p>
          <input type="button" id="completReadBtn" class="btn btn-outline-primary" value="Seen" onclick="completeRead()"/>
          <input type="button" id="completReadBtn" class="btn btn-outline-primary" value="Not Seen" onclick="completeRead()"/>
        </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div> -->

<div class="container" id=grid>
    <form id = "HIT" class="row mt-3" method="POST">
        {% for i in range(9) %}
          {% if i % 3 == 0 %}
            <div class="row mt-1">
          {% endif %}
            <div class="col-md-4">
                  <!-- <p>{{ data.images[i] }}{}</p> -->
                  <input type="checkbox" class="checkbox thumb" name="{{ i }}" id="{{ i }}"></input>
                  <label for="{{ i }}">
                    <img class="img-fluid thumb" src="{{ data.urls[i] }}">
                  </label>
            </div>
          {% if i % 3 == 2 %}
            </div>
          {% endif %}
        {% endfor %}
        <input type="hidden" id="task"name="task" value="label" />
        <input type="hidden" id="images" name="images" value="{{ data.images }}" />
        <input type="hidden" id="labels" name="labels" />
        <!-- <input type="hidden" id="category" name="category" value="disrict" /> -->
        <input type="hidden" id="dev" name="dev" value="{{ data.dev }}"/>
        <input type="hidden" id="aws_mt" name="aws_mt" value="{{ data.aws_MT }}"/>
        <input type="hidden" id="amazon_host" name="amazon_host" value="{{ data.amazon_host }}"/>
        <input type="hidden" id="hitId" name="hitId" value="{{ data.hitId }}"/>
        <input type="hidden" id="assignmentId" name="assignmentId" value="{{ data.assignmentId }}"/>
        <input type="hidden" id="workerId" name="workerId" value="{{ data.workerId }}"/>
    </form>
</div>

</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

<script type="text/javascript">

var data = {{ data|tojson|safe }};
var labels = [];
var trial = 1;

function completeRead() {
    var thumbs = document.getElementsByClassName("img-fluid thumb");
    var i;
    // console.log(thumbs);
    for (i = 0; i < thumbs.length; i++) {
        thumbs[i].setAttribute("style","-webkit-filter:blur(" + 0 + "px); pointer-events:all; opacity:1.0; filter:blur(0)");
      }

    if (trial <= 2) {
      document.getElementById("instructions1").style.visibility = "hidden";
      document.getElementById("guess").disabled = false;
    }
    else if  (trial <= 4) {
      document.getElementById("instructions2").style.visibility = "hidden";
      document.getElementById("guess").disabled = false;
    }
    else {
      document.getElementById("instructions3").style.visibility = "hidden";
      document.getElementById("guess").disabled = false;
    }
}

function submitForm() {
    if (trial < 6){
        var checks = document.getElementsByClassName("checkbox");
        var thumbs = document.getElementsByClassName("thumb");
        for (i = 0; i < checks.length; i++) {
          labels.push( checks[i].checked ? trial : 0 );
          checks[i].checked = false;
          thumbs[i].checked = false;
        }
        console.log(labels);
        nextTrial();
    }
    else if (trial == 6) {
        var checks = document.getElementsByClassName("checkbox");
        for (i = 0; i < checks.length; i++) {
          labels.push( checks[i].checked ? trial : 0 );
        }
        console.log(labels);
        document.getElementById("labels").value = labels;
//        document.getElementById("grid").style.visibility = "hidden";
//        nextRecall();
//      }
//      else if (trial > 4) {
//        nextRecall();
//    }
//    else if (trial > 23) {
        var form = document.querySelector("#HIT");
        var d = new FormData(form);
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("POST", "/submit");
        xmlhttp.send(d);
        form.action = (data.aws_mt) ? data.amazon_host : "/share";
        form.submit();
    }
}

function nextTrial() {
  trial++;
  document.getElementById("counter").textContent = trial;
  // var checks = document.getElementsByClassName("checkbox");
  var thumbs = document.getElementsByClassName("img-fluid thumb");
  var i;

  // for (i = 0; i < checks.length; i++) {  }
  for (i = 0; i < thumbs.length; i++) {
      thumbs[i].setAttribute("style","-webkit-filter:blur(" + 10 + "px); filter:blur(10px);opacity:0.2;pointer-events:none");
      thumbs[i].src = data.urls[i + (trial-1)*9];
    }
  document.getElementById("guess").disabled = true;

  if (trial < 3 ) { document.getElementById("instructions1").style.visibility = "visible";  }
  else if (trial < 5) { document.getElementById("instructions2").style.visibility = "visible"; document.getElementById("description").textContent = "a path or passage"; }
  else if (trial < 7) { document.getElementById("instructions3").style.visibility = "visible"; document.getElementById("description").textContent = "an edge or border"; }
}

// function nextRecall() {
//   trial ++;
//   document.getElementById("counter").textContent = trial;
//   document.getElementById("instructions2").style.visibility = "visible";
//
// };
</script>
</html>
